body {
  font-family: 'Courier New', monospace;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #FAFAFA; /* Soft White */
  color: #000000; /* Black for readability */
}

.App {
  text-align: center;
  background-color: #ADD8E6; /* Light Blue */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
  color: #000080; /* Navy Blue */
  font-size: 2.5em;
  margin-bottom: 20px;
}

.capacity-info {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.box {
  background-color: #000080; /* Navy Blue */
  padding: 10px;
  border-radius: 5px;
  font-size: 1.2em;
  color: #FAFAFA; /* Soft White */
}

form {
  background-color: #FAFAFA; /* Soft White */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 15px;
  font-weight: bold;
  color: #000080; /* Navy Blue */
}

input {
  margin-left: 10px;
  padding: 10px;
  border: 1px solid #ADD8E6; /* Light Blue */
  border-radius: 5px;
  width: calc(100% - 22px);
  font-size: 1em;
  background-color: #FAFAFA; /* Soft White */
  color: #000000; /* Black for readability */
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #000080; /* Navy Blue */
  color: black; /* Soft White */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ADD8E6; /* Light Blue */
  color: #000000; /* Black for readability */
}

h2 {
  margin-top: 20px;
  color: #000080; /* Navy Blue */
  font-size: 2em;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: medium; /* Medium font size for the table */
}

th, td {
  padding: 10px;
  border: 1px solid #ADD8E6; /* Light Blue */
  color: #000000; /* Black for readability */
}

th {
  background-color: #000080; /* Navy Blue */
  color: #FAFAFA; /* Soft White */
}